/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: darkblue;
  --matr-navbar-bg-rgb: 0, 0, 139;
  --matr-navbar-text-color: white;
  --matr-navbar-highlight-text: khaki;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  background: fixed center url("images/vibrant-multicolor-beautiful-sky-cloud-copy-space-background_176697-1603.avif");
  background-size: cover;

  margin: 0;
  background: #221141;
  font-family: "Poppins";
  color: #d6dfed;
  height: 100vh;
}

* {
  box-sizing:
  border-box;
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

.bg-dark a.dropdown-item {
  color: var(--matr-navbar-bg);
}


/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.background {
  position: absolute;;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials {
  gap: 20px;
}

.socials a {
  font-size: 24px;
}

.links {
  gap: 10px;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform:
  scaleY(3)
  scaleX(2.25);
  transform-origin:
  bottom;
  display: block;
  pointer-events: none;
}

footer, footer a {
  color: var(--matr-navbar-text-color);
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 20px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  padding-bottom: 80px;
  padding-left: 60px;
  width: 100%;
}

@media (width > 420px) {
  section {
    align-items: center;
    padding-left: 0;
    gap: 20px;
  }

  .links { gap: 20px; }
}

